body{
    margin: 0;
}
#head{
    background-color: #1f4da8;
    padding: 15px 0px;
}
#head img{
    padding-left: 10%;
}
#table{
    margin: 3% 21%;
    box-shadow: 0px 0px 10px rgb(0 0 0);
}
#table_head{
    background-color: #1f4da8;
    padding: 1% 0%;
}
#table_head p{
    margin: 0%;
    padding-left: 4%;
    color: white;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px 10px rgb(255, 255, 255);
}
#content{
    margin: 3% 20%;
}
#content table{
    border-collapse: collapse;
    width: 100%;
}
#content td{
    padding: 2% 0%;
    color:  #0033ff;
    font-family:Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
}
#content input{
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px 0px #bfbfbf;
    border: 1px solid #cccccc;
}
#content input:focus {
    outline: none;
    border: 1px solid #0033ff;
}
#content input:hover {
    border: 1px solid #0033ff;
}
#content select {
    width: 190px;
    border-radius: 4px;
    box-shadow: inset 1px 1px 1px 0px #bfbfbf;
    border: 1px solid #cccccc;
}
#content select:focus {
    outline: none;
    border: 1px solid #0033ff;
}
#button{
    margin: 5% 45%;
}
#footer{
    background-color: #1f4da8;
    padding: 15px 0px;
}
#footer span{
    color: white;
    font-family: Tahoma, Arial, Helvetica, sans-serif, Arial; 
    font-size: 13px;
    margin: 0% 20%;
}