.center{
    text-align: center;
}
table,th{
    border-collapse:collapse;
    padding: 20px;
    align-items: center;
}
td{
    border-collapse:collapse;
    padding: 20px;
    align-items: center;
}
body{
    border: 4px;
    padding: 5px;
}
th{
    background-color:rgb(197, 197, 197);
}
tr:hover {
    background-color:whitesmoke;
}


